{% include 'snippets/form_elements/basic_message.html' with value=employer.description icon='fa-info' type='date' disabled=True %}
{% include 'snippets/form_elements/basic.html' with value=employer.phone icon='fa-phone' disabled=True %}
{% include 'snippets/form_elements/basic.html' with value=employer.country icon='fa-globe' disabled=True %}
{% include 'snippets/form_elements/basic.html' with value=employer.city.name icon='fa-map' disabled=True %}
{% include 'snippets/form_elements/basic.html' with value=employer.address icon='fa-thumb-tack' disabled=True %}
