{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body">
                            <div class="card-title mb-4">
                                <div class="row d-flex justify-content-start">
                                    <div class="image-container d-flex flex-row">
                                        <img src="{{ object.avatar.url }}" id="imgProfile"
                                             style="width: 150px; height: 150px" class="img-thumbnail"/>
                                    </div>
                                    <div class="userData ml-2 flex-row">
                                        <h2 class="d-block mb-3" style="font-size: 2rem; font-weight: bold">
                                            {{ object }}
                                        </h2>
                                        <a class="ticker-btn" href="#">
                                            Редактировать
                                        </a>
                                    </div>
                                </div>
                            </div>

                            {% if user.status == 1 %}
                                {% include 'accounts/snippets/detail/jobseeker_card.html' %}
                            {% elif user.status == 2 %}
                                {% include 'accounts/snippets/detail/employer_card.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
