{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3 class="text-center mt-4">Изменение пароля</h3>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form method="POST">
                    {% csrf_token %}
                    {% include "bs5_form.html" with form=form %}

                    <div class="mt-3">
                        <button type="submit" class="genric-btn primary">Изменить</button>
                        <a class="genric-btn danger" href="{% url 'blog:news' %}">Отмена</a>
                    </div>
                    <form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}
