{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container col-3">
        {% include 'accounts/snippets/detail/jobseeker_nav.html' %}
            <form action="{% url 'accounts:ProfileUpdate' %}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </section>
{% endblock %}

<div class="row">
    <div class="col-12">
    </div>
</div>
