{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container col-3">
            <form action="{% url 'accounts:ProfileUpdate' %}" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {% if jobseeker_form %}
                    {{ jobseeker_form|crispy }}
                {% elif employer_form %}
                    {{ employer_form|crispy }}
                {% endif %}
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </section>
{% endblock %}

<div class="row">
    <div class="col-12">
    </div>
</div>
