{% extends "base.html" %}{% load i18n %}
{% block content %}
    <div class="center marging-section text">
    {% if validlink %}
        <p>{% trans "Для подтверждения акаунта нажмите кнопку ниже" %}</p>
        <form method="post">{% csrf_token %}
            <button type="submit">{% trans 'Продолжить' %}</button>
        </form>
    {% else %}
        <p>{% trans "Ссылка для активации недействительна, возможно, потому что она уже использовалась. Пожалуйста, попробуйте еще раз." %}</p>
    {% endif %}
    </div>
{% endblock content %}
