{% extends 'base.html' %}

{% block content %}
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 post-list blog-post-list infinite-container">
                    {% include page_template %}
                </div>

                <div class="col-lg-4 sidebar">
                    {% include 'blog/snippets/list/news_search.html' %}
                    {% include 'snippets/recent_news.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    {% include 'snippets/pagination.html' %}
{% endblock %}
