{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blog-posts-area section-gap">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 post-list blog-post-list infinite-container">
                    {% for news in news_list %}
                        {% include 'blog/snippets/list/card.html' %}
                    {% endfor %}
                </div>

                <div class="col-lg-4 sidebar">
                    {% include 'blog/snippets/list/news_search.html' %}
                    {% include 'snippets/recent_news.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
