{{ chat.id|json_script:'chat-id' }}
{{ user.username|json_script:'sender' }}
<div class="mesgs">
    {% if chat %}
        <div class="msg_history chat-{{ chat.id }}">
            {% for message in chat.messages.all %}
                {% if message == chat.messages.all.0 %}
                    {% if chat.response %}
                        {% include 'chat/snippets/message.html' with resume=chat.response.resume %}
                    {% else %}
                        {% include 'chat/snippets/message.html' with resume=chat.resume %}
                    {% endif %}
                {% else %}
                    {% include 'chat/snippets/message.html' %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="type_msg">
            <div class="input_msg_write">
                <form id="chat-{{ chat.id }}-submit">
                    <input type="text" class="write_msg" placeholder="Введите сообщение"/>
                    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="justify-content-center d-flex" style="height: 60vh;">
            <div class="d-flex align-items-center">
                <h1>Выберите диалог</h1>
            </div>
        </div>
    {% endif %}
</div>
