{% load static %}
<div class="inbox_people">
    <div class="headind_srch">
        <div class="recent_heading">
            <h4>Сообщения</h4>
        </div>
        <div class="srch_bar">
            <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Поиск">
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span></div>
        </div>
    </div>
    <div class="inbox_chat">
        {% for chat, contact, last_message, timestamp in chat_contacts %}
            <a class="chat-link" href="{% url 'chat:open' chat.id %}">
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img">
                            {% if contact.user.avatar %}
                                <img src="{{ contact.user.avatar.url }}" alt="sunil">
                            {% else %}
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                            {% endif %}
                        </div>
                        <div class="chat_ib">
                            <h5>
                                {% if contact.user.status == 1 %}
                                    {{ contact.first_name }} {{ contact.last_name }}
                                {% elif contact.user.status == 2 %}
                                    {{ contact.name }}
                                {% endif %}
                                {% include 'chat/snippets/msg_time.html' %}
                            </h5>
                            <p class="chat-{{ chat.id }}-last">{{ last_message }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{#{% for chat, contact in chat_contacts %}#}
{#    <div class="justify-content-start d-flex flex-row">#}
{#        {% if contact.user.status == 1 %}#}
{#            <p>#}
{#                {{ contact.first_name }} {{ contact.last_name }}#}
{#            </p>#}
{#        {% elif contact.user.status == 2 %}#}
{#            <p>#}
{#                {{ contact.name }}#}
{#            </p>#}
{#        {% endif %}#}
{#        <div id="{{ chat.id }}">#}
{#            {{ chat.id|json_script:'room-name' }}#}
{#            {{ user.username|json_script:'sender' }}#}
{#            {{ contact.user.username|json_script:'receiver' }}#}
{#            <textarea id="chat-log" cols="100" rows="20"></textarea><br>#}
{#            <input id="chat-message-input" type="text" size="100"><br>#}
{#            <input id="chat-message-submit" type="button" value="Send">#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}
