{% load humanize %}
{% if message.contact.user == user %}
    <div class="outgoing_msg">
        <div class="sent_msg">
            {% if resume %}
                <div style="width: 100%;">
                    {% include 'chat/snippets/resume_preview.html' %}
                </div>
            {% endif %}
            <p class="msg-sender">{{ message.content }}</p>
            <span class="time_date">{{ message.timestamp|date:"H:m, D d M Y" }}</span>
        </div>
    </div>
{% else %}
    <div class="incoming_msg">
        {% if resume %}
            <div style="width: 58%;">
                {% include 'chat/snippets/resume_preview.html' %}
            </div>
        {% endif %}
        <div class="incoming_msg_img">
            {% if message.contact.user.avatar %}
                <img src="{{ message.contact.user.avatar.url }}" alt="sunil">
            {% else %}
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
            {% endif %}
        </div>
        <div class="received_msg">
            <div class="received_withd_msg">
                <p class="msg-sender">{{ message.content }}</p>
                <span class="time_date">{{ message.timestamp|date:"H:m, D d M Y" }}</span>
            </div>
        </div>
    </div>
{% endif %}
