{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% include 'resumes/snippets/detail/card.html' %}
                    <h1 class="pt-30 pb-20">Ищет</h1>
                    {% include 'resumes/snippets/detail/panel_position.html' %}
                    <h1 class="pt-30 pb-20">Опыт работы</h1>
                    {% include 'resumes/snippets/detail/panel_jobs.html' %}
                    <h1 class="pt-30 pb-20">Дополнительно</h1>
                    {% include 'resumes/snippets/detail/panel_experience.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
