{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container">
            <div class="title d-flex flex-row justify-content-between">
                <div class="col-lg-4 sidebar">
                    {% include 'resumes/snippets/detail/card.html' %}
                    {% include 'resumes/snippets/detail/panel_position.html' %}
                </div>
                <div class="col-lg-8 post-list">
                    <div class="single-post">
                        {% include 'resumes/snippets/detail/panel_experience.html' %}
                    </div>
                    <div class="single-post mb-3">
                        <h4>
                            Опыт работы
                        </h4>
                    </div>
                    {% include 'resumes/snippets/detail/panel_jobs.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
