<div class="{% if icon %}input-group-icon {% endif %}mt-10">
    {% if icon %}
        <div class="icon">
            <i class="fa {{ icon }}" aria-hidden="true"></i>
        </div>
    {% endif %}
    <textarea id="textarea-{{ field.html_name }}"
              name="{{ field.html_name }}"
              {% if disabled %}disabled{% endif %}
              placeholder="{{ field.label }}{{ add }}"
              oninput="document.getElementById('input-{{ field.html_name }}').setAttribute('value', document.getElementById('textarea-{{ field.html_name }}').value);"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = '{{ field.label }}{{ add }}'"
              class="single-textarea{% if required %}-accent{% endif %}"
              {% if required %}required=""{% endif %}>{% if field.data.value %}
        {{ field.data.value }}{% endif %}</textarea>
    <input type="text" name="{{ field.html_name }}" hidden id="input-{{ field.html_name }}"
           {% if field.value %}value="{{ field.value }}"{% endif %}>
    {% for error in field.errors %}
        <div style="color: red">
            <i class="fa fa-info mr-2 mb-2"></i><strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    <script>
        document.getElementById('textarea-{{ field.html_name }}').value = document.getElementById('input-{{ field.html_name }}').value;
    </script>
</div>
