<div class="mt-10">
    <p>
        {{ field.label }}
    </p>
    <div class="default-select" id="default-select">
        <select name="{{ field.html_name }}">
            {% if field.value %}
                {% for choice in field %}
                    {% if choice.data.value == field.value %}
                        <option value="{{ choice.data.value }}">
                            {{ choice.choice_label }}
                        </option>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% for choice in field %}
                {% if choice.data.value != field.value %}
                    <option value="{{ choice.data.value }}">
                        {{ choice.choice_label }}
                    </option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
