<div class="{% if icon %}input-group-icon {% endif %}mt-10">
    {% if icon %}
        <div class="icon">
            <i class="fa {{ icon }}" aria-hidden="true"></i>
        </div>
    {% endif %}
    <input type="{% if type %}{{ type }}{% else %}text{% endif %}"
           name="{{ field.html_name }}" placeholder="{{ field.label }}"
           onfocus="this.placeholder = ''"
           onblur="this.placeholder = '{{ field.label }}'"
           {% if field.value %}value="{{ field.value }}"{% endif %}
           class="single-input{% if required %}-accent{% endif %}"
           {% if required %}required=""{% endif %}>
</div>
