<div class="single-slidebar">
    <h4>Последние новости</h4>
    <div class="blog-list">

        <div class="single-blog">
            <a href="#"><h4>Какая то новость</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>2 часа назад</p>
            </div>
        </div>

        <div class="single-blog">
            <a href="#"><h4>Какая то новость</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>2 часа назад</p>
            </div>
        </div>

        <div class="single-blog">
            <a href="#"><h4>Какая то новость</h4></a>
            <div class="meta justify-content-between d-flex">
                <p>2 часа назад</p>
            </div>
        </div>
    </div>
</div>
