{% for vacancy, cnt in responses_vacancies %}
    {% if responses_vacancies.0.0 == vacancy %}
        <li class="ajax-selection-all search-selected">
            <a class="justify-content-between d-flex"
               href="{% url 'recruiting:response_list_search'%}">
                <p>{{ vacancy }}</p><span>{{ cnt }}</span>
            </a>
        </li>
    {% else %}
        <li>
            <a class="justify-content-between d-flex"
               href="{% url 'recruiting:response_list_search'%}?vac_id={{ vacancy.id }}">
                <p>{{ vacancy.title }}</p><span>{{ cnt }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}
