{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container">
            <div class="title d-flex flex-row justify-content-between">
                <div class="col-lg-4 sidebar">
                    {% include 'employer/card.html' %}
                </div>
                <div class="col-lg-8 post-list">
                    <div class="single-post job-details" style="color: black">
                        {% if object.description %}
                            {% autoescape off %}
                                {{ object.description }}
                            {% endautoescape %}
                        {% else %}
                            Нет описания
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
