{% if response or is_new %}
    <div class="justify-content-between d-flex flex-row">
        {% if response %}
            <a href="{% url 'vacancies:detail' response.vacancy.id %}"
               class="genric-btn default">
                {{ response.vacancy.title }}
            </a>
        {% endif %}
        {% if is_new %}
            <a class="genric-btn info noselect" style="pointer-events: none;">
                Новое
            </a>
        {% endif %}
    </div>
{% endif %}
<div class="single-post d-flex flex-row">
    <div class="thumb justify-content-center">
        {% if resume.photo %}
            <img src="{{ resume.photo.url }}" style="object-fit: cover; width: 120px; height: 120px">
        {% endif %}
    </div>
    <div class="details">
        <div class="title d-flex flex-row justify-content-between">
            <div class="titles">
                {% if user.status == user_status_choices.JOBSEEKER %}
                    <a href="{% url 'resumes:resume_detail' resume.id %}">
                        <h4>
                            {{ resume.title }}
                        </h4>
                    </a>
                {% elif user.status == user_status_choices.EMPLOYER %}
                    <a href="{% url 'resumes:resume_detail' resume.id %}">
                        <h4>
                            {{ jobseeker.first_name }}
                            {{ jobseeker.last_name }}
                        </h4>
                    </a>
                {% endif %}
            </div>
            {% if not responding %}
                <ul class="btns">
                    {% if user.status == user_status_choices.JOBSEEKER %}
                        <li><a href="{% url 'resumes:resume_update' resume.id %}">Изменить</a></li>
                        <li><a href="{% url 'resumes:resume_delete' resume.id %}">Удалить</a></li>
                    {% elif user.status == user_status_choices.EMPLOYER %}
                        <li>
                            {% if response %}
                                <a href="{% url 'chat:start_response' response_id=response.id %}">
                                    Откликнуться
                                </a>
                            {% else %}
                                <a href="{% url 'chat:start_resume' resume_id=resume.id %}">
                                    Откликнуться
                                </a>
                            {% endif %}
                        </li>
                        <li class="favorite-icon">
                            <a href="{% url 'accounts:favourite_add' resume.id %}">
                                {% if fav %}
                                    <span class="lnr lnr-trash"></span>
                                {% else %}
                                    <span class="lnr lnr-star"></span>
                                {% endif %}
                            </a>
                        </li>
                        {% if response %}
                            <li>
                                <a href="{% url 'chat:start_reject' response_id=response.id %}">
                                    Отклонить
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <h5>Опыт: {{ resume.experience.about }}</h5>
        <h5>Навыки: {{ resume.experience.skills }}</h5>
        <h5>Зарплата: {{ resume.position.salary }}</h5>
        <h5>Занятость: {{ resume.position.employment }}</h5>
        <h5>График: {{ resume.position.schedule }}</h5>
        <h5>Переезд: {{ resume.position.get_relocation_display }}</h5>
        <h5>Командировки: {{ resume.position.get_business_trip_display }}</h5>
    </div>
</div>
