<div class="obj-{{ resume.id }}-card">
    {% if response or is_new %}
        <div class="justify-content-between d-flex flex-row">
            {% if response %}
                <a href="{% url 'vacancies:detail' response.vacancy.id %}"
                   class="genric-btn default">
                    {{ response.vacancy.title }}
                </a>
            {% endif %}
            {% if is_new %}
                <a class="genric-btn info noselect" style="pointer-events: none;">
                    Новое
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="single-post d-flex flex-row">
        <div class="thumb justify-content-center">
            {% if resume.photo %}
                <a href="


                        {% url 'resumes:resume_detail' resume.id %}{% if response %}?vac_id={{ response.vacancy.id }}{% endif %}">
                    <img src="{{ resume.photo.url }}" style="object-fit: cover; width: 120px; height: 120px">
                </a>
            {% endif %}
            <ul class="tags">
                {% if resume.experience.skills %}
                    {% for hashtag in resume.experience.skills_as_list %}
                        <li>
                            <a href="#">{{ hashtag|truncatechars:17 }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div class="details">
            <div class="title d-flex flex-row justify-content-between">
                <div class="titles">
                    {% if user.status == user_status_choices.JOBSEEKER %}
                        <a href="


                                {% url 'resumes:resume_detail' resume.id %}{% if response %}?vac_id={{ response.vacancy.id }}{% endif %}">
                            <h4>
                                {{ resume.title }}
                            </h4>
                        </a>
                    {% elif user.status == user_status_choices.EMPLOYER %}
                        <a href="


                                {% url 'resumes:resume_detail' resume.id %}{% if response %}?vac_id={{ response.vacancy.id }}{% endif %}">
                            <h4>
                                {{ jobseeker.first_name }}
                                {{ jobseeker.last_name }}
                            </h4>
                        </a>
                    {% endif %}
                </div>
                {% if not responding %}
                    <ul class="btns">
                        {% if user.status == user_status_choices.JOBSEEKER %}
                            <li><a href="{% url 'resumes:resume_update' resume.id %}">Изменить</a></li>
                            <li><a href="{% url 'resumes:resume_delete' resume.id %}">Удалить</a></li>
                        {% elif user.status == user_status_choices.EMPLOYER %}
                            {% if response %}
                                <li>
                                    <a href="{% url 'chat:start_response' response_id=response.id %}">
                                        Откликнуться
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'chat:start_reject' response_id=response.id %}">
                                        Отклонить
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'chat:start_resume' resume_id=resume.id %}">
                                        Откликнуться
                                    </a>
                                </li>
                                <li class="favorite-icon">
                                    <a href="{% url 'accounts:favourite_add' resume.id %}">
                                        {% if fav %}
                                            <span class="lnr lnr-trash"></span>
                                        {% else %}
                                            <span class="lnr lnr-star"></span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="col mb-3 pl-0">
                <p class="mb-1">
                    <span class="fa fa-id-badge"></span> {{ resume.position.position|default:'Не указан' }}
                </p>
                <p class="mb-1">
                    <span class="fa fa-money"></span> от {{ resume.position.salary|default:'Не указана' }} руб.
                </p>
                <p class="mb-1">
                    <span class="fa fa-clock-o"></span> {{ resume.position.get_employment_type_display|default:'Не указан' }}
                </p>
                <p class="mb-1">
                    <span class="fa fa-car"></span>
                    Переезд: {{ resume.position.get_relocation_display|default:'Не указан' }}
                </p>
                <p class="mb-1">
                    <span class="fa fa-plane"></span>
                    Командировки: {{ resume.position.get_business_trip_display|default:'Не указан' }}
                </p>
                {% if resume.experience.portfolio %}
                    <p class="mb-1">
                        <a href="{{ resume.experience.portfolio }}"
                           style="color: #777777">
                            <span class="fa fa-external-link"></span> {{ resume.position.portfolio|default:'Не указан' }}
                        </a>
                    </p>
                {% endif %}
                <p class="mb-1">
                    <span class="fa fa-question"></span>
                    О себе: {{ resume.experience.about|truncatewords:20|default:'Не указано' }}
                </p>
            </div>
        </div>
    </div>
</div>
