{% if object_list %}
    <div class="col-lg-8 post-list">
        {% include page_template %}
    </div>

    <div class="col-lg-4 sidebar">
        {% include 'snippets/recent_news.html' %}
    </div>
{% else %}
    <div style="height: 50vh; width: 100vw">
        <div style="margin-left: auto; margin-right: auto; position: relative; top: 50%; width: 50vw">
            <p style="text-align: center; font-size: large;">
                Отсутствуют резюме...
            </p>
        </div>
    </div>
{% endif %}
