{% load el_pagination_tags %}
<div class="sticky-search">
    <div class="single-slidebar search-widget">
        <form id="search-form" class="example ajax-search"
              action="{% url 'resumes:resume_list_search' %}"
              style="margin:auto;max-width:300px">
            <input type="text" placeholder="Найти резюме" name="search" class="search-input-ajax">
            <input id="city-id-input-ajax" type="text" name="city_id" value="" style="display: none"/>
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <a href="{% url 'resumes:resume_list_search' %}"
           class="clear-link">
            <p class="ml-2 mt-0 mb-0 pt-0 pb-0">
                Очистить
            </p>
        </a>
    </div>
</div>

{% if user.status == 1 %}
{% elif user.status == 2 %}
    <div class="single-slidebar">
        <h4>Резюме по расположению</h4>
        {% if resumes_cities %}
            <ul class="cat-list search-cities-ajax">
                {% include 'resumes/snippets/list/cities_page.html' %}
            </ul>
            <a href="#" class="mt-0 mb-0 pt-0 pb-0">
                Показать больше (Пока не работает)
            </a>
        {% endif %}
    </div>
    <div class="single-slidebar">
        <h4>Резюме по категориям</h4>
        <ul class="cat-list skills-list">
            <div class="resume-skills-ajax">
                {#            {% include 'vacancies/snippets/list/cities_page.html' %}#}
            </div>
            <a href="#" class="mt-0 mb-0 pt-0 pb-0">
                Показать больше
            </a>
        </ul>
    </div>
{% endif %}
