{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container col-3">
            <form method="post">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
            <div class="text-lg-start">
                <a class="hidden-link" href="{% url 'accounts:UserCreate' %}">или создайте учётную
                    запись</a>
            </div>
        </div>
    </section>
{% endblock %}
