{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center d-flex">
            <div class="col-lg-8 post-list data-ajax">
                {% for vacancy, employer, fav in favorites_vacancies %}
                    {% include 'vacancies/snippets/list/card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {% load static %}
    {{ block.super }}
    {% include 'snippets/pagination.html' %}
    <script src="{% static 'js/vacancies.js' %}"></script>
{% endblock %}