{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container d-flex justify-content-center">
            <div class="col-lg-8 col-md-8">
                <form method="post" action="{% url 'vacancies:create_vacancy' user.id %}">
                    {% csrf_token %}
                    {% include 'snippets/form_elements/text.html' with field=form.title required=True icon='fa-building' %}
                    {% include 'snippets/form_elements/message.html' with field=form.description icon='fa-info' %}
                    {% include 'snippets/form_elements/text.html' with field=form.hashtags icon='fa-hashtag' add=' (через запятую)' %}
                    <div class="d-flex justify-content-start">
                        <div class="mr-20">
                            {% include 'snippets/form_elements/select.html' with field=form.employment_type required=True %}
                        </div>
                        {% include 'snippets/form_elements/select.html' with field=form.experience required=True %}
                    </div>
                    {% include 'snippets/form_elements/text.html' with field=form.salary required=True icon='fa-money' %}
                    <div class="mt-20">
                        <button type="submit" class="genric-btn primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
