{% extends "base.html" %}
{% block header_title %}<h1>{{page_title}}</h1>{% endblock header_title %}

{% block content %}
    <form class="logon" action="{% url 'accounts:Login' %}" method="post">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button class="log-button" type="submit" name="useraction" value="LOGIN">Войти</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a class="hidden-link" href="{% url 'accounts:UserCreate' %}">или создайте учётную запись</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}