{% autoescape off %}
{% blocktrans %}Вы получили это письмо для подтверждения регистрации на сайте {{ site_name }}.{% endblocktrans %}
{% trans "Пожалуйста, перейдите на по ссылке для подтверждения регистрации:" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'registration:AccountConfirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваше имя пользователя, в том случае если вы забыли:" %} {{ user.get_username }}
{% trans "Спасибо за использование нашего сайта!" %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endautoescape %}
