*{
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}
.menu {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background-color: #242582;
}
.nav-buttons {
    display: flex;
    justify-content: center;
}
.menu-link {
    text-decoration: none;
}
.menu-button {
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 1px;
    margin: 0 5px;
}
.menu-button:hover{
    color: white;
    box-shadow: 0 0 15px #553D67;
    background-color: #F64C72;
}
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.content{
    background-color: #2F2FA2;
    color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5% 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: #242582;
    color: #857c8b;
}