<div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
     aria-labelledby="basicInfo-tab">

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Имя</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.first_name }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Отчество</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.patronymic }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Фамилия</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.last_name }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Пол</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.get_sex_display }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Дата рождения</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.date_birth }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Адрес</label>
        </div>
        <div class="col-md-8 col-6">
            {{ jobseeker.address }}
        </div>
    </div>
    <hr/>

{#    {% if user == resume.user %}#}
{#        <a class="ticker-btn" href="{% url 'resumes:personal_info_update' jobseeker.id %}">#}
{#            Изменить#}
{#        </a>#}
{#    {% endif %}#}

</div>
