<div class="tab-pane fade" id="contacts" role="tabpanel"
     aria-labelledby="contacts-tab">

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Телефон</label>
        </div>
        <div class="col-md-8 col-6">
            {{ resume.contacts.phone }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Email</label>
        </div>
        <div class="col-md-8 col-6">
            {{ resume.contacts.email }}
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-3 col-md-2 col-5">
            <label style="font-weight:bold;">Telegram</label>
        </div>
        <div class="col-md-8 col-6">
            @{{ resume.contacts.telegram }}
        </div>
    </div>
    <hr/>

    {% if user == resume.user %}
        <a class="ticker-btn" href="{% url 'resumes:contacts_update' resume.contacts.id %}">
            Изменить
        </a>
    {% endif %}

</div>
