{% load el_pagination_tags %}

{% if employers_vac_list %}
    {% lazy_paginate employers_vac_list %}
    {% if user.status == 1 %}
        {% for employer, vacancy, response, fav in employers_vac_list %}
            {% include 'vacancies/snippets/list/card.html' %}
        {% endfor %}
    {% elif user.status == 2 %}
        <div class="accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab"
                     id="{{ publicstatuschoices.PUBLISHED }}Heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionEx"
                           href="#{{ publicstatuschoices.PUBLISHED }}"
                           aria-expanded="false" aria-controls="{{ publicstatuschoices.PUBLISHED }}"
                           class="btn-nav-accordion">
                            Опубликованные вакансии <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="{{ publicstatuschoices.PUBLISHED }}" class="panel-collapse collapse in"
                     role="tabpanel" aria-labelledby="{{ publicstatuschoices.PUBLISHED }}Heading">
                    <div class="card-body pl-0 pr-0">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == publicstatuschoices.PUBLISHED %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab"
                     id="{{ publicstatuschoices.DRAFT }}Heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordionEx"
                           href="#{{ publicstatuschoices.DRAFT }}"
                           aria-expanded="false" aria-controls="{{ publicstatuschoices.DRAFT }}"
                           class="btn-nav-accordion">
                            Черновики <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="{{ publicstatuschoices.DRAFT }}" class="panel-collapse collapse in"
                     role="tabpanel" aria-labelledby="{{ publicstatuschoices.DRAFT }}Heading">
                    <div class="card-body">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == publicstatuschoices.DRAFT %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab"
                     id="{{ publicstatuschoices.ARCHIVED }}Heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordionEx"
                           href="#{{ publicstatuschoices.ARCHIVED }}"
                           aria-expanded="false" aria-controls="{{ publicstatuschoices.ARCHIVED }}"
                           class="btn-nav-accordion">
                            Архив <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="{{ publicstatuschoices.ARCHIVED }}" class="panel-collapse collapse in"
                     role="tabpanel" aria-labelledby="{{ publicstatuschoices.ARCHIVED }}Heading">
                    <div class="card-body">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == publicstatuschoices.ARCHIVED %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% show_more %}
{% else %}
    <p style="text-align: center; font-size: large;" class="mt-10">
        Ничего не найдено :(
    </p>
{% endif %}
