{% load el_pagination_tags %}

{% if employers_vac_list %}
    {% lazy_paginate employers_vac_list %}
    {% if user.status == 1 %}
        {% for employer, vacancy, response, fav in employers_vac_list %}
            {% include 'vacancies/snippets/list/card.html' %}
        {% endfor %}
    {% elif user.status == 2 %}
        <div class="accordion " id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab" id="publishedHeading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#published"
                           aria-expanded="true" aria-controls="published" class="btn-nav-accordion">
                            Опубликованные вакансии <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="published" class="panel-collapse collapse in show" role="tabpanel"
                     aria-labelledby="publishedHeading">
                    <div class="card-body pl-0 pr-0">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == 'PBL' %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab" id="draftsHeading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordionEx" href="#drafts"
                           aria-expanded="false" aria-controls="drafts" class="btn-nav-accordion">
                            Черновики <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="drafts" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="draftsHeading">
                    <div class="card-body">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == 'DF' %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card panel-card">
                <div class="card-header panel-heading" role="tab" id="archivedHeading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordionEx" href="#archived"
                           aria-expanded="false" aria-controls="archived" class="btn-nav-accordion">
                            Архив <i class="fa fa-angle-down rotate-icon"></i>
                        </a>
                    </h3>
                </div>
                <div id="archived" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="archivedHeading">
                    <div class="card-body">
                        {% for employer, vacancy, response, fav in employers_vac_list %}
                            {% if vacancy.status == 'ARC' %}
                                {% include 'vacancies/snippets/list/card.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% show_more %}
{% else %}
    <p style="text-align: center; font-size: large;" class="mt-10">
        Ничего не найдено :(
    </p>
{% endif %}
