{% for city, cnt in vacancy_cities %}
    {% if vacancy_cities.0.0 == city %}
        <li>
            <a class="justify-content-between d-flex"
               href="{% url 'vacancies:vacancy_list_city' 0 %}">
                <p>{{ city }}</p><span>{{ cnt }}</span>
            </a>
        </li>
    {% else %}
        <li>
            <a class="justify-content-between d-flex vacancy-city"
               href="{% url 'vacancies:vacancy_list_city' city.id %}">
                <p>{{ city.name }}</p><span>{{ cnt }}</span>
            </a>
        </li>
    {% endif %}
{% endfor %}
