<div class="default-select" id="default-select">
    <select class="vacancy-status">
        {% if vacancy.status != publicstatuschoices.WAITING %}
            <option value="#">{{ vacancy.get_status_display }}</option>
            {% if vacancy.status == publicstatuschoices.DRAFT %}
                <option value="{% url 'vacancies:switch_status' vacancy.id publicstatuschoices.PUBLISHED %}">
                    Опубликовать
                </option>
                <option value="{% url 'vacancies:switch_status' vacancy.id publicstatuschoices.ARCHIVED %}">
                    Архивировать
                </option>
            {% elif vacancy.status == publicstatuschoices.PUBLISHED %}
                <option value="{% url 'vacancies:switch_status' vacancy.id publicstatuschoices.DRAFT %}">
                    В черновик
                </option>
                <option value="{% url 'vacancies:switch_status' vacancy.id publicstatuschoices.ARCHIVED %}">
                    Архивировать
                </option>
            {% elif vacancy.status == publicstatuschoices.ARCHIVED %}
                <option value="{% url 'vacancies:switch_status' vacancy.id publicstatuschoices.DRAFT %}">
                    Восстановить
                </option>
            {% endif %}
        {% endif %}
    </select>
</div>
{% if vacancy.status == publicstatuschoices.DRAFT %}
    <a href="{% url 'vacancies:update' vacancy.id %}"
       class="genric-btn default radius" style="filter: brightness(98%)">
        Редактировать
    </a>
{% endif %}
