{% load el_pagination_tags %}
<div class="sticky-search">
    <div class="single-slidebar search-widget">
        <form class="example ajax-search" action="{% url 'vacancies:vacancy_list_search' %}"
              style="margin:auto;max-width:300px">
            <input type="text" placeholder="Найти вакансию" name="search" class="search-input-ajax">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <a href="{% url 'vacancies:vacancy_list_search' %}"
           class="clear-link">
            <p class="ml-2 mt-0 mb-0 pt-0 pb-0">
                Очистить
            </p>
        </a>
    </div>
</div>

<div class="single-slidebar">
    <h4>Вакансии по расположению</h4>
    <ul class="cat-list">
        <div class="search-cities-ajax">
            {% include 'vacancies/snippets/list/cities_page.html' %}
        </div>
        <a href="#" class="mt-0 mb-0 pt-0 pb-0">
            Показать больше
        </a>
    </ul>
</div>

{#<div class="single-slidebar">#}
{#    <h4>Вакансии по категориям</h4>#}
{#    <ul class="cat-list">#}
{#        <li><a class="justify-content-between d-flex" href="#"><p>Разработчик ПО</p>#}
{#            <span>37</span></a>#}
{#        </li>#}
{#        <li><a class="justify-content-between d-flex" href="#"><p>Инженер</p><span>57</span></a>#}
{#        </li>#}
{#        <li><a class="justify-content-between d-flex" href="#"><p>Кто-то еще</p><span>33</span></a>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}
