{% extends 'base.html' %}
{% block content %}
    <section class="post-area section-gap">
        {% if object_list %}
            <div class="container">
                <div class="row justify-content-sm-center d-flex ">
                    <div class="col-lg-8 post-list">
                        {% for response in object_list %}
                            {% include 'recruiting/snippets/list/card.html' %}
                        {% endfor %}
                    </div>

                    <div class="col-lg-4 sidebar">
                        {% if user.status == 1 %}
                            <a class="d-flex flex-row ticker-btn" href="{% url 'resumes:resume_create' %}">
                                Создать резюме
                            </a>
                        {% endif %}
                        {% include 'snippets/recent_news.html' %}
                    </div>
                </div>
            </div>
        {% else %}
            <div style="height: 50vh; width: 100vw">
                <div style="margin-left: auto; margin-right: auto; position: relative; top: 50%; width: 50vw">
                    <p style="text-align: center; font-size: large;">
                        Вы еще не добавили никаких резюме!
                        <a href="{% url 'resumes:resume_create' %}" class="stretched-link"> Создать?</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
