{% extends 'base.html' %}
{% block content %}
    <section class="post-area section-gap">
        {% if object_list %}
            <div class="container">
                <div class="row justify-content-sm-center d-flex ">
                    <div class="col-lg-8 post-list data-ajax">
                        {% include page_template %}
                    </div>
                    <div class="col-lg-4 sidebar">
                        {% include 'recruiting/snippets/response/list/search.html' %}
                        {% include 'snippets/recent_news.html' %}
                    </div>
                </div>
            </div>
        {% else %}
            <div style="height: 50vh; width: 100vw">
                <div style="margin-left: auto; margin-right: auto; position: relative; top: 50%; width: 50vw">
                    <p style="text-align: center; font-size: large;">
                        На ваши вакансии пока никто не откликнулся...
                    </p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
{% block js %}
    {{ block.super }}
    {% include 'snippets/pagination.html' %}
{% endblock %}
