{% extends 'base.html' %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container">
            <div class="row justify-content-sm-center d-flex ">
                <div class="col-lg-8 post-list">
                    {% for resume in object_list %}
                    <div class="single-post d-flex flex-row">
                        <div class="thumb justify-content-center">
<!--                            <img src="/media/{{ resume.photo }}" alt="">-->
                            <img src="http://placehold.it/119x70" alt="">
                        </div>
                        <div class="details">
                            <div class="title d-flex flex-row justify-content-between">
                                <div class="titles">
                                    <a href="#"><h4>
                                        {{ resume.personal_info.surname }}
                                        {{ resume.personal_info.name }}
                                        {{ resume.personal_info.patronymic }}
                                    </h4></a>
                                </div>
                                <ul class="btns">
                                    <li><a href="#">Ответить</a></li>
                                </ul>
                            </div>
                            <h5>Опыт: {{ resume.experience.about }}</h5>
                            <h5>Навыки: {{ resume.experience.skills }}</h5>
                            <h5>Зарплата: {{ resume.position.salary }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}