{% extends 'base.html' %}
{% block content %}
    {% for resume in object_list %}
        <div class="data">
            <div class="user-photo"><img src="/media/{{ resume.photo }}" alt="user-photo"></div>
            <div class="user-profile">
                <a class="hidden-link" href="#">
                    <div class="user-data">
                        {{ resume.personal_info.surname }}
                        {{ resume.personal_info.name }}
                        {{ resume.personal_info.patronymic }}
                    </div>
                </a>
                <div class="self-about">{{ resume.experience.about }}</div>
                <div class="skills-info">{{ resume.experience.skills }}</div>
            </div>
            <div class="salary">{{ resume.position.salary }} руб.</div>
        </div>
    {% endfor %}
{% endblock %}