{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'styles/logon.css' %}">
{% endblock %}
{% block content %}
    <form class="logon" action="#" method="post">
        <div class="pair">
            <label class="title">
                Логин
            </label>
            <input class="input" type="text">
        </div>
        <div class="pair">
            <label class="title">
                Пароль
            </label>
            <input class="input" type="text">
        </div>
        <button type='submit' class="log-button">Войти</button>
        <a class="hidden-link" href="#">или создайте учётную запись</a>
    </form>
{% endblock %}