{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/brief.css' %}">
{% endblock %}

{% block content %}

    {% if object_list %}
        {% for resume in object_list %}
            <div class="data">
                <div class="user-photo"><img src="/media/{{ resume.photo }}" alt="user-photo"></div>
                <div class="user-profile">
                    <a class="hidden-link" href="#">
                        <div class="user-data">
                            {{ resume.personal_info.surname|capfirst }}
                            {{ resume.personal_info.name|capfirst }}
                            {{ resume.personal_info.patronymic|capfirst }}
                        </div>
                    </a>
                    <div class="self-about">{{ resume.experience.about }}</div>
                    <div class="skills-info">{{ resume.experience.skills }}</div>
                </div>
                <div class="salary">{{ resume.position.salary }} руб.</div>
            </div>
        {% endfor %}
    {% else %}
        <div class="placeholder">
            <label class="title">Нет резюме для отображения. Хотите добавить?</label>
            <a href="{% url 'resumes:resume_create' %}" class="menu-link">
                <div class="create-button">СОЗДАТЬ!</div>
            </a>
        </div>
    {% endif %}
{% endblock %}