{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="post-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="h5 mt-1 mb-3">
                        Правила пользования порталом (Соглашение об условиях использования портала
                        jobhunter.ru)
                    </p>
                    <p>Заходя на данный сайт (далее – Портал) и используя его содержание, Вы обязаны
                        соблюдать все условия Правил (Соглашения). Вы не можете пользоваться Порталом и посещать
                        страницы, расположенные в доменной зоне Портала, если Вы не согласны с у Предмет соглашения
                    </p>
                    <p>
                        Регистрируясь на Портале, Пользователь подтверждает свое полное согласие с условиями настоящих
                        Правил, обязуется выполнять их, что имеет силу соглашения в соответствии со ст. 438 Гражданского
                        Кодекса Российской Федерации.
                    </p>
                    <p>
                        Правообладатель оставляет за собой право в любое время изменить Правила. Пользователь принимает
                        на себя обязательство еженедельно изучать Правила и знакомится с их изменениями.
                    </p>
                    <p>
                        Пользователь обязуется незамедлительно прекратить использование Портала и не посещать
                        интернет-страницы, размещенные в области домена Портала в случае не согласия с какими бы то ни
                        было условиями настоящих Правил.
                    </p>

                    <p class="h5 mt-1 mb-3">
                        Термины и определения
                    </p>

                    <p>
                        Посетитель – лицо, получающее доступ к информации, размещенной в доменной зоне
                        http://jobhunter.ru.
                    </p>
                    <p>
                        Пользователь – посетитель Портала, получивший учетную запись на Портале в установленном порядке.
                    </p>
                    <p>
                        Портал (сайт) – совокупность интегрированных программно-аппаратных и технических средств, а
                        также
                        информации, предназначенной для публикации в сети Интернет и отображаемой в определенной
                        текстовой,
                        графической видео или звуковых формах, расположенных в доменной зоне socionom.ru.
                    </p>
                    <p>
                        Учетная запись – Аутентификационные и Личные данные пользователя, хранимые на серверах Портала.
                    </p>
                    <p>
                        Контент – объекты интеллектуальной собственности и приравненными к ним средствами
                        индивидуализации и  иные объекты, информация размещаемые на Портале.
                    </p>
                    <p>
                        Пользовательский контент – контент Портала (включая комментарии Пользователя), размещаемый
                        Пользователем самостоятельно, добровольно и безвозмездно.
                    </p>
                    <p>
                        Личная страница – интернет страница, созданная при помощи программных возможностей Портала в
                        результате получения Пользователем Учетной записи, содержащая Личные данные пользователя.
                    </p>
                    <p>
                        Личные данные – достоверная, полная и актуальная информация, позволяющая произвести процедуру
                        авторизации Пользователя, добровольно и безвозмездно размещаемая Пользователем на Личной
                        странице.
                        Данная информация предоставляется Пользователем во время процедуры Регистрации на Портале, может
                        содержать имя Пользователя, логин пользователя, адрес электронной почты и иные сведения, которые
                        Пользователь посчитает необходимым сообщить о себе. Хранение личных данных осуществляется
                        исключительно с целью обеспечения возможность проведения авторизации Пользователя, а также
                        выдачу документов и подтверждений.
                    </p>
                    <p>
                        Авторизация – процесс анализа программной частью Портала введённых Пользователем
                        Аутентификационных
                        данных, по результатам которого определяется наличие у Пользователя права доступа к возможностям
                        Портала и Личной странице Пользователя.
                    </p>
                    <p>
                        Аутентификационные данные – уникальный идентификатор Пользователя, используемый для доступа к
                        Личной
                        странице Пользователя. К Аутентификационным данным относятся логин Пользователя, пароль, адрес
                        электронной почты.
                    </p>
                    <p>
                        Несанкционированный доступ – использование Аутентификационных данных пользователя третьим лицом.
                    </p>
                    <p>
                        Администрация – уполномоченные лица, устанавливающие порядок использования Портала, управляющие
                        работой Портала и контролирующие выполнением Пользователями настоящих Правил.
                    </p>
                    <p>
                        Правообладатель – лицо, являющееся правообладателем Портала.
                    </p>
                    <p class="h5 mt-1 mb-3">
                        Права и обязанности
                    </p>
                    <p>
                        Пользователь вправе размещать на Портале Контент в соответствии с Правилами.
                    </p>
                    <p>
                        Контент, размещаемый на Портале, является объектом исключительных прав его правообладателей.
                    </p>
                    <p>
                        Запрещается любое использование Контента без получения предварительного согласия его
                        правообладателей.
                    </p>
                    <p>
                        Размещая Контент, Пользователь гарантирует, что обладает всеми правами и полномочиями,
                        необходимыми
                        для размещения Контента и предоставления прав на Контент в соответствии с условиями Правил.
                    </p>
                    <p>
                        Пользователь гарантирует соответствие Контента требованиям законодательства.
                    </p>
                    <p>
                        Размещая Контент, Пользователь предоставляет Правообладателю неисключительные права на публичный
                        показ, переработку, воспроизведение, доведение до всеобщего сведения без ограничения территории
                        и
                        срока, без выплаты вознаграждения Пользователю. Размещенный Пользователем Контент может быть
                        использован Правообладателем в любом другом разделе Портала.
                    </p>
                    <p>
                        Размещая Контент, Пользователь предоставляет любым Посетителям Сайта неисключительные права на
                        доступ к Контенту, его воспроизведение в личных некоммерческих целях.

                    </p>
                    <p>
                        Пользователь несет ответственность за размещение Контента и все последствия, связанные с его
                        публикацией.
                    </p>
                    <p>
                        Регистрируясь на Портале Пользователь выражает свое согласие с тем, что:
                    </p>
                    <p>
                        При размещении Контента Пользователь не становится соавтором Портала и отказывается от
                        каких-либо
                        претензий на такое авторство в будущем;
                        В случае передачи компании-владельцу каких-либо прав на Контент Пользователь лишается права на
                        отзыв, как оно определено ст. 1269 ГК РФ.
                        Все содержание Портала охраняется законом как произведение, созданное коллективным творческим
                        трудом
                        в соответствии с положениями IV части Гражданского кодекса Российской Федерации.
                    </p>
                    <p>
                        Доступ к материалам Портала, в том числе к Контенту, предоставляется Посетителям и Пользователям
                        исключительно для личного использования и ознакомления.
                    </p>
                    <p>
                        Администрация и Правообладатель не несут никакой ответственности за целостность и сохранность
                        Контента, размещенного на Портале.
                    </p>
                    <p>
                        Не допускается использование информации с Портала в любых целях (копирование, распространение,
                        передача третьим лицам, опубликование или иное использование в коммерческих целях), кроме как в
                        личных, без согласия Администрации Портала.
                    </p>
                    <p>
                        Пользователь может загружать («скачивать») с Портала материалы, размещенные на Портале и
                        доступные
                        для скачивания Пользователю, только для личного использования.
                    </p>
                    <p>
                        В случае получения разрешения на копирование, распространение, опубликование или иное
                        использование
                        материалов Портала, охраняемых авторским правом, такое копирование, распространение,
                        опубликование
                        или иное использование не допускается без ссылки на Правообладателя и/или Портал.
                    </p>
                    <p>
                        Пользователь обязуется не размещать Контент провокационного, грубого, оскорбительного и
                        агрессивного
                        характера, противоречащий моральным и этическим нормам, нарушающий действующее российское или
                        международное законодательство, нарушающий права, в том числе интеллектуальные, третьих лиц.
                    </p>
                    <p>
                        В случае нанесения ущерба третьим лицам, другим Пользователям или Порталу Пользователь обязуется
                        возместить причиненный ущерб в полном объёме в соответствии с действующим законодательством
                        Российской Федерации.
                    </p>
                    <p>
                        Пользователь несет ответственность и все расходы (включая возмещение убытков, вреда, штрафов,
                        судебных и иных расходов и издержек) в случае предъявления третьими лицами каких-либо претензий,
                        включая, но не ограничиваясь претензиями связанными с защитой интеллектуальных прав третьих лиц,
                        и
                        за какие-либо обязательства, возникшие у Портала или Правообладателя в связи с требованиями
                        третьих
                        лиц, связанные или возникшие вследствие нарушения Пользователем условий настоящих Правил.
                        Пользователь обязуется принять все необходимые и возможные меры, направленные на исключение
                        Правообладателя из числа ответчиков.
                    </p>
                    <p>
                        Администрация не занимается рассмотрением и разрешением споров и конфликтных ситуаций,
                        возникающих
                        между Пользователями, однако оставляет за собой право заблокировать страницу Пользователя в
                        случае
                        получения от других Пользователей мотивированных жалоб на некорректное поведение данного
                        Пользователя.
                    </p>
                    <p>
                        Администрация вправе осуществляет модерацию Контента, размещаемого на Портале.
                    </p>
                    <p>
                        Администрация вправе удалить любой Контент, в том числе текст, фотографию, комментарий
                        Пользователя, без уведомления и объяснения причин.
                    </p>
                    <p>
                        В случае нарушения Пользователем условий настоящих Правил, либо действующего законодательства
                        РФ,
                        Администрация будет вынуждена воспользоваться своим правом передачи контактных данных, IP
                        адреса,
                        любой другой информации заинтересованным лицам на основании соответствующего запроса.
                    </p>
                    <p>
                        В случае нарушения Пользователем Правил Администрация вправе удалить Учетную запись
                        пользователя.
                    </p>
                    <p>
                        Администрация Портала либо Правообладатель оставляет за собой право закрыть, приостановить
                        функционирование, изменить Портала либо его часть без предварительного уведомления Пользователя.
                    </p>
                    <p>
                        Правообладатель (Администрация) не несет ответственности перед Пользователем и не возмещает
                        Пользователю убытки, возникшие или могущие возникнуть у Пользователя в связи с задержками,
                        перебоями
                        в работе и невозможностью полноценного использования Портала.
                    </p>
                    <p>
                        Администрация вправе осуществлять любые действия, связанные с организацией работы Портала, его
                        функционированием, в том числе определение прав и ответственности Пользователей, правового
                        режима
                        использования Контента, включая программные средства ограничения доступа, ограничение доступ
                        Пользователей на Портал, удаление Учетной записи и другие.
                    </p>
                    <p class="h5 mt-1 mb-3">
                        Регистрация Пользователя
                    </p>
                    <p>
                        Чтобы стать полноценным пользователем Портала необходимо пройти процедуру регистрации.
                    </p>
                    <p>
                        Пользователь обязуется предоставлять актуальную, полную и достоверную информацию в процессе
                        получения учетной записи. При этом Администрация оставляет за собой право отказать в регистрации
                        или
                        прекратить процесс регистрации нового Пользователя по своему усмотрению.
                    </p>
                    <p>
                        При регистрации Пользователь не имеет права:
                    </p>
                    <p>
                        Выдавать себя за другого Пользователя, используя его логин и пароль.
                        Сообщать свой логин и пароль для пользования учетной записью пользователя третьим лицам.
                        Использовать в качестве логина слово или словосочетание, которое является грубым, устрашающим
                        или
                        непристойным с точки зрения морали и нравственности, а также умышленно переиначенные логины
                        других
                        Пользователей, носящие оскорбительный характер для их обладателей.
                        Использовать для аватаров картинки с элементами, относящимся к фашистской и националистической
                        символике, содержащие порнографические материалы и иные материалы и изображения, противоречащие
                        законодательству РФ.
                    </p>
                    <p>
                        Регистрацией на Портале Пользователь подтверждает, что обладает необходимой правоспособностью и
                        полномочиями для принятия условий настоящих Правил, способен выполнять Правила и нести
                        ответственность за нарушение Правил, в том числе по правоотношениям, возникшим вследствие
                        пользования Порталом.
                    </p>
                    <p>
                        Ответственность за сохранение пароля для доступа к Порталу в тайне возлагается на Пользователя.
                        В
                        случае если пароль для доступа к учетной записи был утерян Пользователем или стал известен
                        другим
                        лицам, Пользователь обязуется незамедлительно сменить свой пароль для доступа к сервисам
                        Портала.
                    </p>
                    <p>
                        Пользователь согласен с тем, что все действия, произведенные от его имени (с использованием
                        учетной
                        записи пользователя), расцениваются как действия этого Пользователя и могут повлечь за собой
                        ответственность для Пользователя.
                    </p>
                    <p>
                        Администрация вправе в любое время удалить любые данные и учетные записи по любой причине или
                        вообще
                        без причины. Администрация оставляет за собой право, но не обязана следить за деятельностью
                        Пользователей Портала.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
