{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'styles/vacancy.css' %}">
{% endblock %}

{% block content %}
    {% if vacancy_list %}
        {% for vacancy in vacancy_list %}
            <div class="data-block">
                <a class="vacancy" href="#">
                    <div class="title">
                        {{ vacancy.title }}
                    </div>
                </a>
                <div class="data-body">
                    <div class="description">
                        <p>Опубликовано: {{ vacancy.published_at }}</p>
                        <p>Требуемый опыт работы: {{ vacancy.get_experience_display }}</p>
                        <p>Описание: {{ vacancy.description }}</p>
                    </div>
                    <div class="salary">{{ vacancy.salary }}</div>
                    {% if vacancy.hashtags %}
                        <div class="hashtags">{{ vacancy.hashtags }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}