<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/vacancy.css">
    <title>Вакансии</title>
</head>
<body>
    <div class="wrapper">
        <div class="menu">
            <div class="nav-buttons">
                <a href="#" class="menu-link">
                    <div class="menu-button">Новости</div>
                </a>
                <a href="#" class="menu-link">
                    <div class="menu-button"><p>Наши партнёры</p></div>
                </a>
            </div>
            <div class="profile">
                <img src="https://img.icons8.com/ios-glyphs/30/ffffff/checked-user-male.png"/>
                <a href="#" class="menu-link">
                    <div class="menu-button"><p>Имя пользователя</p></div>
                </a>
                <a href="#" class="menu-link">
                    <div class="menu-button"><p>Вход</p></div>
                </a>
                <a href="#" class="menu-link">
                    <div class="menu-button"><p>Выход</p></div>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="data-block">
                <div class="title">Ты ж программист</div>
                <div class="data-body">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum, qui ex voluptate velit illo facere voluptas, 
                        iure totam obcaecati debitis sint quis labore fuga adipisci iste doloremque? Aliquid cupiditate velit placeat culpa fuga nemo 
                        pariatur, exercitationem minima incidunt a ratione eligendi quaerat, repudiandae consequatur quisquam dolorem laboriosam deleniti 
                        ea accusantium ipsam error porro! Velit, dolore! Ipsa impedit eveniet doloribus quasi quo. Reiciendis quam facilis enim debitis sit 
                        nisi? Voluptatibus quibusdam dignissimos illo ex optio quo, error inventore pariatur sint fuga officia magnam blanditiis minus esse 
                        voluptatum? Eaque quos provident omnis commodi explicabo reprehenderit recusandae tenetur ut, inventore consequuntur nam est nobis 
                        iusto aut maiores deserunt officiis, magni pariatur veritatis minus. Aspernatur, nemo! Soluta quibusdam quo mollitia dolor iusto libero 
                        cupiditate fuga! Sunt animi, tempore quasi quam sint hic quas veritatis!
                        
                        Vitae ex, animi fugit vel eius dignissimos quibusdam omnis! 
                        Delectus cumque ut ab sapiente aperiam commodi? Facilis commodi, asperiores repellendus optio, aspernatur pariatur molestias exercitationem 
                        soluta repellat illum ut tempore aliquid quas. Tempora cum, incidunt est ducimus veritatis eum accusamus quaerat sunt et possimus repellendus 
                        inventore aspernatur vel odio aut distinctio culpa libero debitis illum hic! Incidunt similique nesciunt ducimus esse at corrupti minus, 
                        rem eligendi reprehenderit id tempora assumenda alias pariatur, neque nulla accusamus dolorem explicabo praesentium distinctio nobis molestias 
                        accusantium qui. Sit nobis obcaecati, nesciunt soluta blanditiis iste maiores beatae quas nemo repellat ipsam, distinctio quae similique corporis 
                        magni, eligendi harum esse laborum temporibus nostrum minus? Architecto voluptate animi sapiente! Accusamus quis tenetur necessitatibus nesciunt 
                        voluptatibus ea facilis atque at adipisci. Eos amet, perferendis autem, tempore optio exercitationem voluptate maiores, vero ipsam eveniet quaerat 
                        ab corporis eligendi id. Voluptatum maxime aut blanditiis? Officiis adipisci natus sint delectus perferendis voluptas pariatur voluptatem dolores 
                        totam eius, reiciendis illum? Ut non tempora illum, eos a eveniet reprehenderit dolor eius totam placeat asperiores quibusdam voluptatibus quia 
                        distinctio consequatur quam rerum, aspernatur expedita ipsam minus quaerat. Vitae in quia consequuntur labore fugit voluptatibus nisi cum repellendus 
                        molestias nemo reiciendis doloremque, tempore consequatur corporis autem! Adipisci quod totam sapiente quidem obcaecati mollitia expedita ratione 
                        ab tenetur consequatur facere quam consequuntur ducimus maxime libero, in, itaque ullam dolore nisi, corrupti praesentium voluptatum fuga? Quasi 
                        fuga non exercitationem dolore nemo! Ipsa aliquid sunt, magnam ipsam nihil fugiat blanditiis adipisci vel similique ut eligendi, assumenda a 
                        asperiores cupiditate obcaecati! Quia hic facilis exercitationem quis fugiat beatae pariatur perferendis excepturi reiciendis tempora, eligendi 
                        accusamus! Ea quam, eius sunt veniam voluptatum perspiciatis aspernatur saepe totam asperiores voluptatibus cumque. Delectus perspiciatis r
                        epellendus dolor accusantium suscipit, possimus, unde provident eaque sunt velit, ad laboriosam vel? Fuga culpa architecto ex rerum. Corporis 
                        cumque quibusdam nemo temporibus laboriosam itaque sequi molestias ipsa deserunt sapiente optio natus, iste, eum officia iure velit adipisci 
                        cum odio libero. Omnis veritatis vero cupiditate debitis consequuntur repellendus quis aspernatur ipsa beatae! Error facere, eveniet similique 
                        ex molestiae quasi ipsa dolorum repellat, vitae numquam inventore, doloribus voluptatum sint? Mollitia rem veniam, quae ut doloribus nesciunt 
                        sequi aliquam ab perferendis commodi illo autem molestias assumenda dolorum consequuntur in magni sed dolor? Officia, obcaecati facere quidem 
                        quisquam magnam sunt unde nemo alias voluptate earum vel officiis magni quos consectetur porro pariatur molestias accusamus ducimus assumenda 
                        commodi provident! Harum dolorem veniam tempora unde! Dolorem ipsa explicabo cum repellat aliquid, id deleniti quae, obcaecati iure tempore 
                        laborum nam, rerum quos odit nostrum animi! Fugiat suscipit aliquam harum doloremque deleniti explicabo hic at sunt a eveniet quo omnis reiciendis
                        
                        sint vitae excepturi unde quod, ex amet temporibus veritatis tempora natus? Molestias illo delectus, nulla rerum quaerat rem. Recusandae amet cumque 
                        ex consectetur, voluptas quidem dolor sapiente maiores earum sint nihil alias iste autem odit sed nostrum. Aliquam explicabo amet dolorum voluptas. 
                        
                        Delectus fuga magni blanditiis eius animi quidem neque voluptate sapiente consequuntur perferendis, beatae natus, fugit qui officia magnam aut nisi 
                        tenetur ipsum, aliquid cum quae. Ipsum incidunt et maxime fuga accusantium similique iure rerum harum, praesentium ea, eum perferendis.
                        Architecto, earum voluptatum assumenda error ea quas eaque ratione distinctio. Corporis magnam architecto, maiores eos nisi voluptate pariatur
                         qui officiis ad repellat adipisci officia quibusdam tenetur voluptatem voluptas ipsam minus doloribus autem quis quaerat. Sint aliquam saepe, 
                         minus natus nostrum provident unde obcaecati ut autem impedit repellat animi, in magnam facere dolore vitae ea esse, iure consectetur. 
                         Laboriosam nam dolorem accusamus. Vel dolor corporis autem placeat sapiente voluptate consequatur, corrupti numquam!
                        </p>
                    </div>
                    <div class="salary">35 000 руб.</div>
                </div>
                <div class="hashtags">Администрирование, IT, сварка, шпаклёвка</div>
            </div>
            <div class="data-block">
                <a class="vacancy" href="#"><div class="title">Ты ж программист</div></a>
                <div class="data-body">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum, qui ex voluptate velit illo facere voluptas, 
                        iure totam obcaecati debitis sint quis labore fuga adipisci iste doloremque? Aliquid cupiditate velit placeat culpa fuga nemo 
                        pariatur, exercitationem minima incidunt a ratione eligendi quaerat, repudiandae consequatur quisquam dolorem laboriosam deleniti 
                        ea accusantium ipsam error porro! Velit, dolore! Ipsa impedit eveniet doloribus quasi quo. Reiciendis quam facilis enim debitis sit 
                        nisi? Voluptatibus quibusdam dignissimos illo ex optio quo, error inventore pariatur sint fuga officia magnam blanditiis minus esse 
                        voluptatum? Eaque quos provident omnis commodi explicabo reprehenderit recusandae tenetur ut, inventore consequuntur nam est nobis 
                        iusto aut maiores deserunt officiis, magni pariatur veritatis minus. Aspernatur, nemo! Soluta quibusdam quo mollitia dolor iusto libero 
                        cupiditate fuga! Sunt animi, tempore quasi quam sint hic quas veritatis!
                        
                        Vitae ex, animi fugit vel eius dignissimos quibusdam omnis! 
                        Delectus cumque ut ab sapiente aperiam commodi? Facilis commodi, asperiores repellendus optio, aspernatur pariatur molestias exercitationem 
                        soluta repellat illum ut tempore aliquid quas. Tempora cum, incidunt est ducimus veritatis eum accusamus quaerat sunt et possimus repellendus 
                        inventore aspernatur vel odio aut distinctio culpa libero debitis illum hic! Incidunt similique nesciunt ducimus esse at corrupti minus, 
                        rem eligendi reprehenderit id tempora assumenda alias pariatur, neque nulla accusamus dolorem explicabo praesentium distinctio nobis molestias 
                        accusantium qui. Sit nobis obcaecati, nesciunt soluta blanditiis iste maiores beatae quas nemo repellat ipsam, distinctio quae similique corporis 
                        magni, eligendi harum esse laborum temporibus nostrum minus? Architecto voluptate animi sapiente! Accusamus quis tenetur necessitatibus nesciunt 
                        voluptatibus ea facilis atque at adipisci. Eos amet, perferendis autem, tempore optio exercitationem voluptate maiores, vero ipsam eveniet quaerat 
                        ab corporis eligendi id. Voluptatum maxime aut blanditiis? Officiis adipisci natus sint delectus perferendis voluptas pariatur voluptatem dolores 
                        totam eius, reiciendis illum? Ut non tempora illum, eos a eveniet reprehenderit dolor eius totam placeat asperiores quibusdam voluptatibus quia 
                        distinctio consequatur quam rerum, aspernatur expedita ipsam minus quaerat. Vitae in quia consequuntur labore fugit voluptatibus nisi cum repellendus 
                        molestias nemo reiciendis doloremque, tempore consequatur corporis autem! Adipisci quod totam sapiente quidem obcaecati mollitia expedita ratione 
                        ab tenetur consequatur facere quam consequuntur ducimus maxime libero, in, itaque ullam dolore nisi, corrupti praesentium voluptatum fuga? Quasi 
                        fuga non exercitationem dolore nemo! Ipsa aliquid sunt, magnam ipsam nihil fugiat blanditiis adipisci vel similique ut eligendi, assumenda a 
                        asperiores cupiditate obcaecati! Quia hic facilis exercitationem quis fugiat beatae pariatur perferendis excepturi reiciendis tempora, eligendi 
                        accusamus! Ea quam, eius sunt veniam voluptatum perspiciatis aspernatur saepe totam asperiores voluptatibus cumque. Delectus perspiciatis r
                        epellendus dolor accusantium suscipit, possimus, unde provident eaque sunt velit, ad laboriosam vel? Fuga culpa architecto ex rerum. Corporis 
                        cumque quibusdam nemo temporibus laboriosam itaque sequi molestias ipsa deserunt sapiente optio natus, iste, eum officia iure velit adipisci 
                        cum odio libero. Omnis veritatis vero cupiditate debitis consequuntur repellendus quis aspernatur ipsa beatae! Error facere, eveniet similique 
                        ex molestiae quasi ipsa dolorum repellat, vitae numquam inventore, doloribus voluptatum sint? Mollitia rem veniam, quae ut doloribus nesciunt 
                        sequi aliquam ab perferendis commodi illo autem molestias assumenda dolorum consequuntur in magni sed dolor? Officia, obcaecati facere quidem 
                        quisquam magnam sunt unde nemo alias voluptate earum vel officiis magni quos consectetur porro pariatur molestias accusamus ducimus assumenda 
                        commodi provident! Harum dolorem veniam tempora unde! Dolorem ipsa explicabo cum repellat aliquid, id deleniti quae, obcaecati iure tempore 
                        laborum nam, rerum quos odit nostrum animi! Fugiat suscipit aliquam harum doloremque deleniti explicabo hic at sunt a eveniet quo omnis reiciendis
                        
                        sint vitae excepturi unde quod, ex amet temporibus veritatis tempora natus? Molestias illo delectus, nulla rerum quaerat rem. Recusandae amet cumque 
                        ex consectetur, voluptas quidem dolor sapiente maiores earum sint nihil alias iste autem odit sed nostrum. Aliquam explicabo amet dolorum voluptas. 
                        
                        Delectus fuga magni blanditiis eius animi quidem neque voluptate sapiente consequuntur perferendis, beatae natus, fugit qui officia magnam aut nisi 
                        tenetur ipsum, aliquid cum quae. Ipsum incidunt et maxime fuga accusantium similique iure rerum harum, praesentium ea, eum perferendis.
                        Architecto, earum voluptatum assumenda error ea quas eaque ratione distinctio. Corporis magnam architecto, maiores eos nisi voluptate pariatur
                         qui officiis ad repellat adipisci officia quibusdam tenetur voluptatem voluptas ipsam minus doloribus autem quis quaerat. Sint aliquam saepe, 
                         minus natus nostrum provident unde obcaecati ut autem impedit repellat animi, in magnam facere dolore vitae ea esse, iure consectetur. 
                         Laboriosam nam dolorem accusamus. Vel dolor corporis autem placeat sapiente voluptate consequatur, corrupti numquam!
                        </p>
                    </div>
                    <div class="salary">35 000 руб.</div>
                </div>
                <div class="hashtags">Администрирование, IT, сварка, шпаклёвка</div>
            </div>
            <div class="data-block">
                <a class="vacancy" href="#"><div class="title">Ты ж программист</div></a>
                <div class="data-body">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum, qui ex voluptate velit illo facere voluptas, 
                        iure totam obcaecati debitis sint quis labore fuga adipisci iste doloremque? Aliquid cupiditate velit placeat culpa fuga nemo 
                        pariatur, exercitationem minima incidunt a ratione eligendi quaerat, repudiandae consequatur quisquam dolorem laboriosam deleniti 
                        ea accusantium ipsam error porro! Velit, dolore! Ipsa impedit eveniet doloribus quasi quo. Reiciendis quam facilis enim debitis sit 
                        nisi? Voluptatibus quibusdam dignissimos illo ex optio quo, error inventore pariatur sint fuga officia magnam blanditiis minus esse 
                        voluptatum? Eaque quos provident omnis commodi explicabo reprehenderit recusandae tenetur ut, inventore consequuntur nam est nobis 
                        iusto aut maiores deserunt officiis, magni pariatur veritatis minus. Aspernatur, nemo! Soluta quibusdam quo mollitia dolor iusto libero 
                        cupiditate fuga! Sunt animi, tempore quasi quam sint hic quas veritatis!
                        
                        Vitae ex, animi fugit vel eius dignissimos quibusdam omnis! 
                        Delectus cumque ut ab sapiente aperiam commodi? Facilis commodi, asperiores repellendus optio, aspernatur pariatur molestias exercitationem 
                        soluta repellat illum ut tempore aliquid quas. Tempora cum, incidunt est ducimus veritatis eum accusamus quaerat sunt et possimus repellendus 
                        inventore aspernatur vel odio aut distinctio culpa libero debitis illum hic! Incidunt similique nesciunt ducimus esse at corrupti minus, 
                        rem eligendi reprehenderit id tempora assumenda alias pariatur, neque nulla accusamus dolorem explicabo praesentium distinctio nobis molestias 
                        accusantium qui. Sit nobis obcaecati, nesciunt soluta blanditiis iste maiores beatae quas nemo repellat ipsam, distinctio quae similique corporis 
                        magni, eligendi harum esse laborum temporibus nostrum minus? Architecto voluptate animi sapiente! Accusamus quis tenetur necessitatibus nesciunt 
                        voluptatibus ea facilis atque at adipisci. Eos amet, perferendis autem, tempore optio exercitationem voluptate maiores, vero ipsam eveniet quaerat 
                        ab corporis eligendi id. Voluptatum maxime aut blanditiis? Officiis adipisci natus sint delectus perferendis voluptas pariatur voluptatem dolores 
                        totam eius, reiciendis illum? Ut non tempora illum, eos a eveniet reprehenderit dolor eius totam placeat asperiores quibusdam voluptatibus quia 
                        distinctio consequatur quam rerum, aspernatur expedita ipsam minus quaerat. Vitae in quia consequuntur labore fugit voluptatibus nisi cum repellendus 
                        molestias nemo reiciendis doloremque, tempore consequatur corporis autem! Adipisci quod totam sapiente quidem obcaecati mollitia expedita ratione 
                        ab tenetur consequatur facere quam consequuntur ducimus maxime libero, in, itaque ullam dolore nisi, corrupti praesentium voluptatum fuga? Quasi 
                        fuga non exercitationem dolore nemo! Ipsa aliquid sunt, magnam ipsam nihil fugiat blanditiis adipisci vel similique ut eligendi, assumenda a 
                        asperiores cupiditate obcaecati! Quia hic facilis exercitationem quis fugiat beatae pariatur perferendis excepturi reiciendis tempora, eligendi 
                        accusamus! Ea quam, eius sunt veniam voluptatum perspiciatis aspernatur saepe totam asperiores voluptatibus cumque. Delectus perspiciatis r
                        epellendus dolor accusantium suscipit, possimus, unde provident eaque sunt velit, ad laboriosam vel? Fuga culpa architecto ex rerum. Corporis 
                        cumque quibusdam nemo temporibus laboriosam itaque sequi molestias ipsa deserunt sapiente optio natus, iste, eum officia iure velit adipisci 
                        cum odio libero. Omnis veritatis vero cupiditate debitis consequuntur repellendus quis aspernatur ipsa beatae! Error facere, eveniet similique 
                        ex molestiae quasi ipsa dolorum repellat, vitae numquam inventore, doloribus voluptatum sint? Mollitia rem veniam, quae ut doloribus nesciunt 
                        sequi aliquam ab perferendis commodi illo autem molestias assumenda dolorum consequuntur in magni sed dolor? Officia, obcaecati facere quidem 
                        quisquam magnam sunt unde nemo alias voluptate earum vel officiis magni quos consectetur porro pariatur molestias accusamus ducimus assumenda 
                        commodi provident! Harum dolorem veniam tempora unde! Dolorem ipsa explicabo cum repellat aliquid, id deleniti quae, obcaecati iure tempore 
                        laborum nam, rerum quos odit nostrum animi! Fugiat suscipit aliquam harum doloremque deleniti explicabo hic at sunt a eveniet quo omnis reiciendis
                        
                        sint vitae excepturi unde quod, ex amet temporibus veritatis tempora natus? Molestias illo delectus, nulla rerum quaerat rem. Recusandae amet cumque 
                        ex consectetur, voluptas quidem dolor sapiente maiores earum sint nihil alias iste autem odit sed nostrum. Aliquam explicabo amet dolorum voluptas. 
                        
                        Delectus fuga magni blanditiis eius animi quidem neque voluptate sapiente consequuntur perferendis, beatae natus, fugit qui officia magnam aut nisi 
                        tenetur ipsum, aliquid cum quae. Ipsum incidunt et maxime fuga accusantium similique iure rerum harum, praesentium ea, eum perferendis.
                        Architecto, earum voluptatum assumenda error ea quas eaque ratione distinctio. Corporis magnam architecto, maiores eos nisi voluptate pariatur
                         qui officiis ad repellat adipisci officia quibusdam tenetur voluptatem voluptas ipsam minus doloribus autem quis quaerat. Sint aliquam saepe, 
                         minus natus nostrum provident unde obcaecati ut autem impedit repellat animi, in magnam facere dolore vitae ea esse, iure consectetur. 
                         Laboriosam nam dolorem accusamus. Vel dolor corporis autem placeat sapiente voluptate consequatur, corrupti numquam!
                        </p>
                    </div>
                    <div class="salary">35 000 руб.</div>
                </div>
                <div class="hashtags">Администрирование, IT, сварка, шпаклёвка</div>
            </div>
            <div class="data-block">
                <a class="vacancy" href="#"><div class="title">Ты ж программист</div></a>
                <div class="data-body">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum, qui ex voluptate velit illo facere voluptas, 
                        iure totam obcaecati debitis sint quis labore fuga adipisci iste doloremque? Aliquid cupiditate velit placeat culpa fuga nemo 
                        pariatur, exercitationem minima incidunt a ratione eligendi quaerat, repudiandae consequatur quisquam dolorem laboriosam deleniti 
                        ea accusantium ipsam error porro! Velit, dolore! Ipsa impedit eveniet doloribus quasi quo. Reiciendis quam facilis enim debitis sit 
                        nisi? Voluptatibus quibusdam dignissimos illo ex optio quo, error inventore pariatur sint fuga officia magnam blanditiis minus esse 
                        voluptatum? Eaque quos provident omnis commodi explicabo reprehenderit recusandae tenetur ut, inventore consequuntur nam est nobis 
                        iusto aut maiores deserunt officiis, magni pariatur veritatis minus. Aspernatur, nemo! Soluta quibusdam quo mollitia dolor iusto libero 
                        cupiditate fuga! Sunt animi, tempore quasi quam sint hic quas veritatis!
                        
                        Vitae ex, animi fugit vel eius dignissimos quibusdam omnis! 
                        Delectus cumque ut ab sapiente aperiam commodi? Facilis commodi, asperiores repellendus optio, aspernatur pariatur molestias exercitationem 
                        soluta repellat illum ut tempore aliquid quas. Tempora cum, incidunt est ducimus veritatis eum accusamus quaerat sunt et possimus repellendus 
                        inventore aspernatur vel odio aut distinctio culpa libero debitis illum hic! Incidunt similique nesciunt ducimus esse at corrupti minus, 
                        rem eligendi reprehenderit id tempora assumenda alias pariatur, neque nulla accusamus dolorem explicabo praesentium distinctio nobis molestias 
                        accusantium qui. Sit nobis obcaecati, nesciunt soluta blanditiis iste maiores beatae quas nemo repellat ipsam, distinctio quae similique corporis 
                        magni, eligendi harum esse laborum temporibus nostrum minus? Architecto voluptate animi sapiente! Accusamus quis tenetur necessitatibus nesciunt 
                        voluptatibus ea facilis atque at adipisci. Eos amet, perferendis autem, tempore optio exercitationem voluptate maiores, vero ipsam eveniet quaerat 
                        ab corporis eligendi id. Voluptatum maxime aut blanditiis? Officiis adipisci natus sint delectus perferendis voluptas pariatur voluptatem dolores 
                        totam eius, reiciendis illum? Ut non tempora illum, eos a eveniet reprehenderit dolor eius totam placeat asperiores quibusdam voluptatibus quia 
                        distinctio consequatur quam rerum, aspernatur expedita ipsam minus quaerat. Vitae in quia consequuntur labore fugit voluptatibus nisi cum repellendus 
                        molestias nemo reiciendis doloremque, tempore consequatur corporis autem! Adipisci quod totam sapiente quidem obcaecati mollitia expedita ratione 
                        ab tenetur consequatur facere quam consequuntur ducimus maxime libero, in, itaque ullam dolore nisi, corrupti praesentium voluptatum fuga? Quasi 
                        fuga non exercitationem dolore nemo! Ipsa aliquid sunt, magnam ipsam nihil fugiat blanditiis adipisci vel similique ut eligendi, assumenda a 
                        asperiores cupiditate obcaecati! Quia hic facilis exercitationem quis fugiat beatae pariatur perferendis excepturi reiciendis tempora, eligendi 
                        accusamus! Ea quam, eius sunt veniam voluptatum perspiciatis aspernatur saepe totam asperiores voluptatibus cumque. Delectus perspiciatis r
                        epellendus dolor accusantium suscipit, possimus, unde provident eaque sunt velit, ad laboriosam vel? Fuga culpa architecto ex rerum. Corporis 
                        cumque quibusdam nemo temporibus laboriosam itaque sequi molestias ipsa deserunt sapiente optio natus, iste, eum officia iure velit adipisci 
                        cum odio libero. Omnis veritatis vero cupiditate debitis consequuntur repellendus quis aspernatur ipsa beatae! Error facere, eveniet similique 
                        ex molestiae quasi ipsa dolorum repellat, vitae numquam inventore, doloribus voluptatum sint? Mollitia rem veniam, quae ut doloribus nesciunt 
                        sequi aliquam ab perferendis commodi illo autem molestias assumenda dolorum consequuntur in magni sed dolor? Officia, obcaecati facere quidem 
                        quisquam magnam sunt unde nemo alias voluptate earum vel officiis magni quos consectetur porro pariatur molestias accusamus ducimus assumenda 
                        commodi provident! Harum dolorem veniam tempora unde! Dolorem ipsa explicabo cum repellat aliquid, id deleniti quae, obcaecati iure tempore 
                        laborum nam, rerum quos odit nostrum animi! Fugiat suscipit aliquam harum doloremque deleniti explicabo hic at sunt a eveniet quo omnis reiciendis
                        
                        sint vitae excepturi unde quod, ex amet temporibus veritatis tempora natus? Molestias illo delectus, nulla rerum quaerat rem. Recusandae amet cumque 
                        ex consectetur, voluptas quidem dolor sapiente maiores earum sint nihil alias iste autem odit sed nostrum. Aliquam explicabo amet dolorum voluptas. 
                        
                        Delectus fuga magni blanditiis eius animi quidem neque voluptate sapiente consequuntur perferendis, beatae natus, fugit qui officia magnam aut nisi 
                        tenetur ipsum, aliquid cum quae. Ipsum incidunt et maxime fuga accusantium similique iure rerum harum, praesentium ea, eum perferendis.
                        Architecto, earum voluptatum assumenda error ea quas eaque ratione distinctio. Corporis magnam architecto, maiores eos nisi voluptate pariatur
                         qui officiis ad repellat adipisci officia quibusdam tenetur voluptatem voluptas ipsam minus doloribus autem quis quaerat. Sint aliquam saepe, 
                         minus natus nostrum provident unde obcaecati ut autem impedit repellat animi, in magnam facere dolore vitae ea esse, iure consectetur. 
                         Laboriosam nam dolorem accusamus. Vel dolor corporis autem placeat sapiente voluptate consequatur, corrupti numquam!
                        </p>
                    </div>
                    <div class="salary">35 000 руб.</div>
                </div>
                <div class="hashtags">Администрирование, IT, сварка, шпаклёвка</div>
            </div>
            <div class="data-block">
                <a class="vacancy" href="#"><div class="title">Ты ж программист</div></a>
                <div class="data-body">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita voluptatum, qui ex voluptate velit illo facere voluptas, 
                        iure totam obcaecati debitis sint quis labore fuga adipisci iste doloremque? Aliquid cupiditate velit placeat culpa fuga nemo 
                        pariatur, exercitationem minima incidunt a ratione eligendi quaerat, repudiandae consequatur quisquam dolorem laboriosam deleniti 
                        ea accusantium ipsam error porro! Velit, dolore! Ipsa impedit eveniet doloribus quasi quo. Reiciendis quam facilis enim debitis sit 
                        nisi? Voluptatibus quibusdam dignissimos illo ex optio quo, error inventore pariatur sint fuga officia magnam blanditiis minus esse 
                        voluptatum? Eaque quos provident omnis commodi explicabo reprehenderit recusandae tenetur ut, inventore consequuntur nam est nobis 
                        iusto aut maiores deserunt officiis, magni pariatur veritatis minus. Aspernatur, nemo! Soluta quibusdam quo mollitia dolor iusto libero 
                        cupiditate fuga! Sunt animi, tempore quasi quam sint hic quas veritatis!
                        
                        Vitae ex, animi fugit vel eius dignissimos quibusdam omnis! 
                        Delectus cumque ut ab sapiente aperiam commodi? Facilis commodi, asperiores repellendus optio, aspernatur pariatur molestias exercitationem 
                        soluta repellat illum ut tempore aliquid quas. Tempora cum, incidunt est ducimus veritatis eum accusamus quaerat sunt et possimus repellendus 
                        inventore aspernatur vel odio aut distinctio culpa libero debitis illum hic! Incidunt similique nesciunt ducimus esse at corrupti minus, 
                        rem eligendi reprehenderit id tempora assumenda alias pariatur, neque nulla accusamus dolorem explicabo praesentium distinctio nobis molestias 
                        accusantium qui. Sit nobis obcaecati, nesciunt soluta blanditiis iste maiores beatae quas nemo repellat ipsam, distinctio quae similique corporis 
                        magni, eligendi harum esse laborum temporibus nostrum minus? Architecto voluptate animi sapiente! Accusamus quis tenetur necessitatibus nesciunt 
                        voluptatibus ea facilis atque at adipisci. Eos amet, perferendis autem, tempore optio exercitationem voluptate maiores, vero ipsam eveniet quaerat 
                        ab corporis eligendi id. Voluptatum maxime aut blanditiis? Officiis adipisci natus sint delectus perferendis voluptas pariatur voluptatem dolores 
                        totam eius, reiciendis illum? Ut non tempora illum, eos a eveniet reprehenderit dolor eius totam placeat asperiores quibusdam voluptatibus quia 
                        distinctio consequatur quam rerum, aspernatur expedita ipsam minus quaerat. Vitae in quia consequuntur labore fugit voluptatibus nisi cum repellendus 
                        molestias nemo reiciendis doloremque, tempore consequatur corporis autem! Adipisci quod totam sapiente quidem obcaecati mollitia expedita ratione 
                        ab tenetur consequatur facere quam consequuntur ducimus maxime libero, in, itaque ullam dolore nisi, corrupti praesentium voluptatum fuga? Quasi 
                        fuga non exercitationem dolore nemo! Ipsa aliquid sunt, magnam ipsam nihil fugiat blanditiis adipisci vel similique ut eligendi, assumenda a 
                        asperiores cupiditate obcaecati! Quia hic facilis exercitationem quis fugiat beatae pariatur perferendis excepturi reiciendis tempora, eligendi 
                        accusamus! Ea quam, eius sunt veniam voluptatum perspiciatis aspernatur saepe totam asperiores voluptatibus cumque. Delectus perspiciatis r
                        epellendus dolor accusantium suscipit, possimus, unde provident eaque sunt velit, ad laboriosam vel? Fuga culpa architecto ex rerum. Corporis 
                        cumque quibusdam nemo temporibus laboriosam itaque sequi molestias ipsa deserunt sapiente optio natus, iste, eum officia iure velit adipisci 
                        cum odio libero. Omnis veritatis vero cupiditate debitis consequuntur repellendus quis aspernatur ipsa beatae! Error facere, eveniet similique 
                        ex molestiae quasi ipsa dolorum repellat, vitae numquam inventore, doloribus voluptatum sint? Mollitia rem veniam, quae ut doloribus nesciunt 
                        sequi aliquam ab perferendis commodi illo autem molestias assumenda dolorum consequuntur in magni sed dolor? Officia, obcaecati facere quidem 
                        quisquam magnam sunt unde nemo alias voluptate earum vel officiis magni quos consectetur porro pariatur molestias accusamus ducimus assumenda 
                        commodi provident! Harum dolorem veniam tempora unde! Dolorem ipsa explicabo cum repellat aliquid, id deleniti quae, obcaecati iure tempore 
                        laborum nam, rerum quos odit nostrum animi! Fugiat suscipit aliquam harum doloremque deleniti explicabo hic at sunt a eveniet quo omnis reiciendis
                        
                        sint vitae excepturi unde quod, ex amet temporibus veritatis tempora natus? Molestias illo delectus, nulla rerum quaerat rem. Recusandae amet cumque 
                        ex consectetur, voluptas quidem dolor sapiente maiores earum sint nihil alias iste autem odit sed nostrum. Aliquam explicabo amet dolorum voluptas. 
                        
                        Delectus fuga magni blanditiis eius animi quidem neque voluptate sapiente consequuntur perferendis, beatae natus, fugit qui officia magnam aut nisi 
                        tenetur ipsum, aliquid cum quae. Ipsum incidunt et maxime fuga accusantium similique iure rerum harum, praesentium ea, eum perferendis.
                        Architecto, earum voluptatum assumenda error ea quas eaque ratione distinctio. Corporis magnam architecto, maiores eos nisi voluptate pariatur
                         qui officiis ad repellat adipisci officia quibusdam tenetur voluptatem voluptas ipsam minus doloribus autem quis quaerat. Sint aliquam saepe, 
                         minus natus nostrum provident unde obcaecati ut autem impedit repellat animi, in magnam facere dolore vitae ea esse, iure consectetur. 
                         Laboriosam nam dolorem accusamus. Vel dolor corporis autem placeat sapiente voluptate consequatur, corrupti numquam!
                        </p>
                    </div>
                    <div class="salary">35 000 руб.</div>
                </div>
                <div class="hashtags">Администрирование, IT, сварка, шпаклёвка</div>
            </div>
        </div>
        <div class="footer"> Team-3 patry&copy; 2022</div>
    </div>
</body>
</html>